// $light-color-main: #c1c8c8;
// $light-color-sub-1: #9eb0b0;
// $light-color-sub-2: #929797;
// $light-text: #000;

// $dark-color-main: #051212;
// $dark-color-sub-1: #020707;
// $dark-color-sub-2: #011818;
// $dark-text: #fff;

$light-color-main: #f0f5f9;
$light-color-sub-1: #c9d6df;
$light-color-sub-2: #52616b;
$light-text: #1e2022;

$dark-color-main: #222831;
$dark-color-sub-1: #393e46;
$dark-color-sub-2: #00adb5;
$dark-text: #eeeeee;
