$light-color-main: #f0f5f9;
// $light-color-main: #c9d6df;
$light-color-sub-1: #c9d6df;
// $light-color-sub-1: #52616b;
$light-color-sub-2: #52616b;
// $light-color-sub-2: #52616b;
$light-text: #1e2022;

$dark-color-main: #222831;
$dark-color-sub-1: #393e46;
$dark-color-sub-2: #00adb5;
$dark-text: #eeeeee;

//зробити sub-2 общим?  #00adb5 ?
