@import "colors-variables.scss";
@mixin theme-changer($text, $bg) {
  background-color: $bg;
  color: $text;
}
.container {
  padding: 20px;
  height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.dark {
  background-color: $dark-color-main;
  color: $dark-text;
}
.light {
  background-color: $light-color-main;
  color: $light-text;
}
