@import "colors-variables.scss";
.themeSwitch {
  width: min-content;
  height: min-content;
  padding: 1px;
}
.themeSwitch.dark {
  background: $light-color-main;
  color: $light-text;
}
.themeSwitch.light {
  background: $dark-color-main;
  color: $dark-text;
}
