@use "colors-variables" as *;
@mixin theme-changer($text, $color-main, $color-sub-1, $color-sub-2) {
  header,
  footer {
    background-color: $color-sub-1;
    transition: background-color 0.5s ease, color 0.4s ease;
    color: $text;
  }
  main {
    background-color: $color-main;
    transition: background-color 0.5s ease, color 0.4s ease;
    color: $text;
  }
  // footer {
  //   background-color: $color-sub-1;
  //   transition: background-color 0.5s ease, color 0.4s ease;
  //   color: $text;
  // }
}

.dark {
  @include theme-changer(
    $dark-text,
    $dark-color-main,
    $dark-color-sub-1,
    $dark-color-sub-2
  );
}
.light {
  @include theme-changer(
    $light-text,
    $light-color-main,
    $light-color-sub-1,
    $light-color-sub-2
  );
}

.container {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  header {
    padding: 20px;
    display: grid;
    grid-template-columns: 10fr auto auto;
    box-shadow: 0 2px 2px $dark-color-sub-1;
    z-index: 1;
    .title {
      align-self: center;
    }
  }
  footer {
    padding: 10px;
  }
}
