// @import "@/colors-variables.scss";
@import "colors-variables.scss";

.container {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-areas: "photo info info" "photo experience achievements" "photo links links";
  padding: 10px;
}

.photo {
  grid-area: photo;
  padding: 10px;
}
.info {
  grid-area: info;
  padding: 10px;
}
.achievements {
  grid-area: achievements;
  padding: 10px;
}
.experience {
  grid-area: experience;
  padding: 10px;
}
.links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.linkButton {
  font-size: large;
  border-radius: 10px;
  padding: 5px 10px;
  &.light {
    color: $light-text;
    border: 1px $light-text solid;
  }
  &.dark {
    color: $dark-text;
    border: 1px $dark-text solid;
  }
  &:hover {
    color: #fff;
    font-size: larger;
  }
}
