// @import "@/colors-variables.scss";
@import "colors-variables.scss";

.container {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-areas: "photo info info" "photo experience achievements" "photo links links";
  padding: 10px;
}

.photo {
  grid-area: photo;
  margin: 5px;
  padding: 5px;
}
.info {
  grid-area: info;
  margin: 5px;
  padding: 5px;
}
.achievements {
  grid-area: achievements;
  margin: 5px;
  padding: 5px;
}
.experience {
  grid-area: experience;
  margin: 5px;
  padding: 5px;
}
.links {
  grid-area: links;
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.linkButton {
  font-size: large;
  border-radius: 10px;
  padding: 5px 10px;
}

.linkButton.light {
  color: $light-text;
  border: 1px $light-text solid;
}
.linkButton.dark {
  color: $dark-text;
  border: 1px $dark-text solid;
}
